---
import Layout from "@layouts/Layout.astro";
import SectionContainer from "@layouts/SectionContainer.astro";
import H1Gradient from "@components/H1Gradient.astro";
import { Image } from "astro:assets";
// Images
import astro from "@assets/astro-original.svg";
import svelte from "@assets/svelte-original.svg";
import react from "@assets/react-original.svg";
import vue from "@assets/vuejs-original.svg";
import typescript from "@assets/typescript-plain.svg";
import tailwindcss from "@assets/tailwindcss-original.svg";
import nanostores from "@assets/nanostores-logo.svg";
import webcomponents from "@assets/web-component.svg";
import meirJC from "@assets/MeirJC.jpg";
---

<Layout
  title="About Meir J Cohen - Web Developer & AI Enthusiast"
  description="Learn about Meir J Cohen, a passionate full-stack web developer specializing in Astro, React, and AI integration. Discover his projects and expertise."
  keywords="Meir J Cohen, Web Developer, AI Enthusiast, Astro, React, Full-Stack Developer"
>
  <SectionContainer innerClasses="flex flex-col items-center justify-center gap-6 text-center">
    <H1Gradient text="<span class='text-beige'>About</span> Meir J Cohen" />
    <p class="font-mono text-lg italic md:text-xl">Web Developer & AI Enthusiast</p>

    <!-- Image placeholder with styling -->
    <div class="relative mx-auto h-64 w-64">
      <div
        class="absolute inset-0 rounded-full bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 blur"
      >
      </div>
      <div class="relative rounded-full bg-gray-800 p-1">
        <Image src={meirJC} alt="Meir J Cohen" class="h-full w-full rounded-full object-cover" />
      </div>
    </div>
  </SectionContainer>

  <SectionContainer innerClasses="flex flex-col gap-4 text-lg">
    <p>
      Hello! I'm Meir, a passionate full-stack web developer with a keen interest in AI integration.
      With over 2 years of experience in the field, I specialize in crafting efficient and
      innovative web solutions that bridge the gap between cutting-edge technology and user-friendly
      design.
    </p>
    <p>
      By day, I'm deeply involved in end-to-end web development projects in Israel, pushing the
      boundaries of what's possible in web technology. By night, I explore the exciting frontier of
      AI with a US-based company, constantly learning and adapting to the rapidly evolving tech
      landscape.
    </p>
    <p>
      My passion lies in creating web solutions that not only meet technical requirements but also
      delight users with their intuitiveness and efficiency. I believe in the power of clean,
      maintainable code and the importance of staying up-to-date with the latest industry trends and
      best practices.
    </p>
  </SectionContainer>

  <SectionContainer innerClasses="flex flex-col gap-4 text-lg">
    <h2 class="text-2xl font-semibold md:text-3xl">This site is crafted with:</h2>

    <div class="relative mx-auto mb-4 mt-12 w-fit max-w-xl">
      <div
        class="absolute inset-0 rounded-lg bg-gradient-to-r from-blue-600 via-purple-600 to-pink-600 blur"
      >
      </div>

      <ul
        class="relative mx-auto grid w-fit max-w-xl grid-cols-2 grid-rows-4 items-center justify-center gap-4 rounded-lg bg-slate-800/90 p-1.5 backdrop-blur-md md:grid-cols-4 md:grid-rows-2"
      >
        <li class="flex-col items-center justify-start p-4 text-center">
          <Image
            src={astro}
            alt="Astro"
            width={64}
            height={64}
            format="svg"
            loading="lazy"
            quality={100}
            class="mx-auto size-16"
          />

          <p>Astro</p>
        </li>
        <li class="flex-col items-center justify-start p-4 text-center">
          <Image
            src={svelte}
            alt="Svelte"
            width={64}
            height={64}
            format="svg"
            loading="lazy"
            quality={100}
            class="mx-auto size-16"
          />
          <p>Svelte</p>
        </li>
        <li class="flex-col items-center justify-start p-4 text-center">
          <Image
            src={react}
            alt="React"
            width={64}
            height={64}
            format="svg"
            loading="lazy"
            quality={100}
            class="mx-auto size-16"
          />
          <p>React</p>
        </li>
        <li class="flex-col items-center justify-start p-4 text-center">
          <Image
            src={vue}
            alt="Vue"
            width={64}
            height={64}
            format="svg"
            loading="lazy"
            quality={100}
            class="mx-auto size-16"
          />
          <p>Vue</p>
        </li>
        <li class="flex-col items-center justify-start p-4 text-center">
          <Image
            src={typescript}
            alt="TypeScript"
            width={64}
            height={64}
            format="svg"
            loading="lazy"
            quality={100}
            class="mx-auto size-16"
          />
          <p>TypeScript</p>
        </li>
        <li class="flex-col items-center justify-start p-4 text-center">
          <Image
            src={tailwindcss}
            alt="TailwindCSS"
            width={64}
            height={64}
            format="svg"
            loading="lazy"
            quality={100}
            class="mx-auto size-16"
          />
          <p>TailwindCSS</p>
        </li>
        <li class="flex-col items-center justify-start p-4 text-center">
          <Image
            src={nanostores}
            alt="Nanostores"
            width={64}
            height={64}
            format="svg"
            loading="lazy"
            quality={100}
            class="mx-auto size-16"
          />
          <p>Nanostores</p>
        </li>
        <li class="flex-col items-center justify-start p-4 text-center">
          <Image
            src={webcomponents}
            alt="Web Components"
            width={64}
            height={64}
            format="svg"
            loading="lazy"
            quality={100}
            class="mx-auto size-16"
          />
          <p>Web Components</p>
        </li>
      </ul>
    </div>
  </SectionContainer>

  <SectionContainer innerClasses="flex flex-col gap-4 text-lg">
    <h2 class="text-2xl font-semibold md:text-3xl">Let's Connect!</h2>
    <p>
      I'm always excited to connect with fellow developers, tech enthusiasts, and potential
      collaborators. Whether you have questions about my projects, want to discuss the latest in web
      development and AI, or are interested in working together, feel free to reach out!
    </p>
  </SectionContainer>

  <SectionContainer innerClasses="text-center">
    <p class="font-mono text-lg text-gray-300">
      Thank you for visiting. Let's create something amazing together!
    </p>
  </SectionContainer>
</Layout>
