---
import Layout from "@layouts/Layout.astro";
import SectionContainer from "@layouts/SectionContainer.astro";
import H1Gradient from "@components/H1Gradient.astro";
import { socialLinks } from "@data/links";
import { Image } from "astro:assets";

const { githubProfile, githubProjectRepo, linkedin, hashnodeBlog, x, hashnodeArticle1 } =
  socialLinks;
---

<Layout
  title="Nanostores in Astro: A Multi-Framework Adventure"
  description="Explore state management in Astro using Nanostores across multiple frameworks. Learn how to simplify your Astro projects with efficient state handling."
  keywords="Astro, Nanostores, State Management, Multi-Framework, React, Vue, Svelte"
>
  <SectionContainer innerClasses="flex flex-col items-center justify-center gap-6 text-center">
    <H1Gradient text="Nanostores in Astro:<br/>A Multi-Framework Adventure" />
    <p class="font-mono text-lg italic md:text-xl">
      Simplifying state management across Astro, React, Vue, and Svelte
    </p>
  </SectionContainer>

  <SectionContainer innerClasses="flex flex-col gap-4 text-lg">
    <h2 class="text-2xl font-semibold md:text-3xl">Welcome to the Adventure!</h2>
    <p>
      Hey there, fellow web dev enthusiast! You've just stumbled upon the go-to resource I wish I
      had when I first dived into handling state in Astro. This demo site accompanies my three-part
      article series on Hashnode, where we're exploring the wild and wonderful world of state
      management using Nanostores in Astro.
    </p>
    <p>
      In this series, we'll unravel the mysteries of streamlining state management across Astro,
      React, Vue, and Svelte components. We're talking independent state, shared state, and even
      throwing some persistent state management into the mix. It's like a state management party,
      and everyone's invited!
    </p>
    <div class="mt-6 rounded-lg bg-gray-800 p-4">
      <h3 class="mb-2 text-xl font-semibold md:text-2xl">Quick Links:</h3>
      <ul class="list-inside list-disc space-y-2 pl-5">
        <li>
          Read Part 1: <a
            href={hashnodeArticle1.url}
            class="font-semibold tracking-wide text-amber-300 hover:text-amber-200 hover:underline"
            >State Management in Astro: A Deep Dive into Nanostores</a
          >
        </li>
        <li>
          Part 1 Demo: <a
            href="/handeling-state"
            class="font-semibold tracking-wide text-amber-300 hover:text-amber-200 hover:underline"
            title="Handeling State Demo"
            aria-label="Handeling State Demo"
          >
            Here
            <span class="sr-only">Handeling State Demo</span>
          </a>
          &nbsp;(Or go to the Handeling State tab)
        </li>
        <li>
          GitHub Repo of this Website: <a
            href={githubProjectRepo.url}
            class="font-semibold tracking-wide text-amber-300 hover:text-amber-200 hover:underline"
            title="GitHub Repo of this Website"
            aria-label="GitHub Repo of this Website"
          >
            Here
            <span class="sr-only">GitHub Repo of this Website</span>
          </a>
        </li>
        <li>
          Connect with me:
          <div class="my-3 sm:inline-block">
            <a
              href={githubProfile.url}
              target="_blank"
              title={`Follow me on ${githubProfile.name}`}
              aria-label={`Follow me on ${githubProfile.name}`}
            >
              <Image
                class="mx-1.5 inline-block size-7 transition-transform duration-300 hover:scale-110"
                src={githubProfile.icon}
                alt={githubProfile.name}
                format="webp"
                quality={90}
              />
              <span class="sr-only">{`Follow me on ${githubProfile.name}`}</span>
            </a> |
            <a
              href={linkedin.url}
              target="_blank"
              title={`Follow me on ${linkedin.name}`}
              aria-label={`Follow me on ${linkedin.name}`}
            >
              <Image
                class="mx-1.5 inline-block size-7 transition-transform duration-300 hover:scale-110"
                src={linkedin.icon}
                alt={linkedin.name}
                format="webp"
                quality={90}
              />
              <span class="sr-only">{`Follow me on ${linkedin.name}`}</span>
            </a> |
            <a
              href={x.url}
              target="_blank"
              title={`Follow me on ${x.name}`}
              aria-label={`Follow me on ${x.name}`}
            >
              <Image
                class="mx-1.5 inline-block size-7 transition-transform duration-300 hover:scale-110"
                src={x.icon}
                alt={x.name}
                format="webp"
                quality={90}
              />
              <span class="sr-only">{`Follow me on ${x.name}`}</span>
            </a> |
            <a
              href={hashnodeBlog.url}
              target="_blank"
              title={`Follow me on ${hashnodeBlog.name}`}
              aria-label={`Follow me on ${hashnodeBlog.name}`}
            >
              <Image
                class="mx-1.5 inline-block size-7 transition-transform duration-300 hover:scale-110"
                src={hashnodeBlog.icon}
                alt={hashnodeBlog.name}
                format="webp"
                quality={90}
              />
              <span class="sr-only">{`Follow me on ${hashnodeBlog.name}`}</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </SectionContainer>

  <SectionContainer innerClasses="flex flex-col gap-4 text-lg">
    <h2 class="text-2xl font-semibold md:text-3xl">What's This All About?</h2>
    <p class="">
      Imagine you're at a tech conference (the kind with great coffee and even better wi-fi), and
      you want to share some exciting state management techniques with your polyglot dev friends.
      That's where Nanostores comes in - it's like that cool translator app that lets everyone
      understand each other, no matter what framework they speak!
    </p>
    <p class="">Here's why Nanostores in Astro is the talk of the town:</p>
    <ul class="list-outside list-disc space-y-2 pl-5">
      <li>Lightweight and framework-agnostic - plays nice with everyone at the party</li>
      <li>Perfect for Astro's component islands - like state management beach resorts</li>
      <li>Shared state across frameworks - because good code is meant to be shared</li>
      <li>
        Simple API - no computer science degree required (though it might help with the afterparty
        debugging)
      </li>
    </ul>
    <p>
      Ready to see Nanostores in action? Dive into the demos and prepare for some "Aha!" moments!
    </p>
  </SectionContainer>

  <SectionContainer innerClasses="flex flex-col gap-4 text-lg">
    <h2 class="text-2xl font-semibold md:text-3xl">The Tech Stack Powering This Adventure</h2>
    <p class="">
      We're not just talking the talk - this entire demo site is built with the very tools we're
      exploring. Here's what's under the hood:
    </p>
    <ul class="list-outside list-disc space-y-2 pl-5">
      <li>Astro - Our cosmic framework of choice</li>
      <li>Nanostores & @nanostores/persistent - The state management superheroes</li>
      <li>React, Vue, and Svelte - Because why choose one when you can have them all?</li>
      <li>TypeScript - For those who like their types strict and their errors caught early</li>
      <li>Tailwind CSS - Making things pretty without the CSS headaches</li>
    </ul>
  </SectionContainer>

  <SectionContainer innerClasses="flex flex-col gap-4 text-lg">
    <h2 class="text-2xl font-semibold md:text-3xl">Who's This For?</h2>
    <p class="">
      If you've got some front-end experience under your belt, understand the basics of JavaScript,
      and have wrapped your head around components and state, you're in the right place! Whether
      you're a junior dev looking to level up or a seasoned pro curious about Astro and Nanostores,
      there's something here for you.
    </p>
    <p>
      No advanced degree required - just bring your curiosity and a willingness to try new things!
    </p>
  </SectionContainer>
</Layout>
