---
import { Image } from 'astro:assets';
import astroLogo from '@assets/astro-logo-white.svg';
import nanostoresLogo from '@assets/nanostores-logo.svg';

const currentPath = Astro.url.pathname;

const navItems = [
  { href: '/', text: 'Home', hoverColor: 'hover:text-astro-300', activeColor: 'text-astro-500' },
  {
    href: '/isolated-state',
    text: 'Isolated State',
    hoverColor: 'hover:text-svelte-200',
    activeColor: 'text-svelte-400',
  },
  {
    href: '/shared-state',
    text: 'Shared State',
    hoverColor: 'hover:text-react-300',
    activeColor: 'text-react-500',
  },
];
---

<nav class="fixed left-0 right-0 top-0 bg-gray-900/90 p-4 backdrop-blur-md">
  <div class="container mx-auto flex items-center justify-between">
    <div class="flex items-center gap-2 rounded-xl bg-gray-500/40 p-1">
      <!-- Placeholder for Astro logo -->
      <Image
        src={astroLogo}
        alt="Astro logo"
        class="aspect-square size-9"
        width={astroLogo.width}
        height={astroLogo.height}
        format="webp"
        quality={95}
        loading="eager"
      />
      <span
        class="block self-center bg-amber-400 bg-clip-text pb-2 text-4xl font-bold text-transparent"
        >+</span
      >
      <Image
        src={nanostoresLogo}
        alt="Nanostores logo"
        class="aspect-square size-10"
        width={nanostoresLogo.width}
        height={nanostoresLogo.height}
        format="webp"
        quality={95}
        loading="eager"
      />
    </div>

    <ul class="flex space-x-6">
      {
        navItems.map((item) => (
          <li>
            <a
              href={item.href}
              class:list={[
                'transition-colors duration-200',
                item.hoverColor,
                currentPath === item.href ? `${item.activeColor} font-bold` : '',
              ]}
            >
              {item.text}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>
